<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>C'est mon site namoi</title>
</head>
<body>
	<h1>Chat GPAenviededormir</h1>
	<p>Bienvenue sur le générateur d'histoires pour enfant</p>
	<div style="text-align:center">
		<p>entrez une image, un prompt et obtenez une histoire à lire à votre morveau pour qu'il dorme enfin</p>
		<a href="http://localhost:5000/model">Vers formulaire d'envoi d'images</a><br>
		<img src="https://media1.tenor.com/m/ovzkWWgS3QEAAAAd/the-lion-king-scar.gif" alt="image_externe" />
		<br>
		<a href="http://localhost:5000/about">Abous us</a>
	</div>
</body>
</html>